:root {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;

  #header {
    text-align: center;
    font-weight: bold;
    background: #ccc;
  }

  #editor-area {
    background: #eee;
    flex-grow: 1;
  }
}


